<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="header">
        <h1>UC Merced</h1>
        <h2>Welcome, Student, {{ user.name }}</h2>
        <a href="{{url_for('logout')}}">Logout</a>
    </div>

    <title>Courses</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1>Your Courses</h1>
    
    <table id="courses-table">
        <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Time</th>
            <th>Students Enrolled</th>
        </tr>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Fetch data from the server
            fetch('http://127.0.0.1:5000/classes')
                .then(response => response.json())
                .then(data => displayCourses(data))
                .catch(error => console.error('Error:', error));
        });

        function displayCourses(data) {
            var table = document.getElementById('courses-table');

            // Populate table with data
            data.classes.forEach(course => {
                var row = table.insertRow(-1);
                row.insertCell(0).innerHTML = course.course_name;
                row.insertCell(1).innerHTML = course.teacher_name;
                row.insertCell(2).innerHTML = course.time;
                row.insertCell(3).innerHTML = course.amount;
            });
        }
    </script>

</body>
</html>
