<!DOCTYPE html>
<html>
<head>
    <title>Teacher Page</title>
    <link rel="stylesheet" type="text/css" href="teacherstyle.css">
</head>
<body>
    <div class="header">
        <h1>UC Merced</h1>
        <h2>Welcome, Teacher, {{ user.name }}</h2>
        <a href="{{url_for('logout')}}">Logout</a>
    </div>

    <h2>Your Courses</h2>

    <table>
        <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Time</th>
            <th>Students Enrolled</th>
        </tr>
        <tr>
            <td><a href="#" onclick="showCourseDetails('Course 1')">Course 1</a></td>
            <td>Teacher 1</td>
            <td>Course Time 1</td>
            <td>25</td>
        </tr>
        <tr>
            <td><a href="#" onclick="showCourseDetails('Course 2')">Course 2</a></td>
            <td>Teacher 2</td>
            <td>Course Time 2</td>
            <td>30</td>
        </tr>
        <!-- Add more course rows as needed -->
    </table>

    <div id="course1-details" style="display: none;">
        <h2 id="course1-name-header"></h2>
        <button id="back-button" onclick="showCourseList()">Back to Courses</button>
        <table>
            <tr>
                <th>Student Name</th>
                <th>Grades</th>
            </tr>
            <!-- Add student and grade information here -->
            <td>Nancy Little</td>
            <td>89</td>
        </table>
    </div>

    <div id="course2-details" style="display: none;">
        <h2 id="course2-name-header"></h2>
        <button id="back-button" onclick="showCourseList()">Back to Courses</button>
        <table>
            <tr>
                <th>Student Name</th>
                <th>Grades</th>
            </tr>
            <!-- Add student and grade information here -->
            <td>Richard Lopez</td>
            <td>67</td>
        </table>
    </div>

    <script>
        function showCourseDetails(courseName) {
            if (courseName === 'Course 1') {
                document.getElementById("course1-name-header").textContent = courseName;
                document.getElementById("course1-details").style.display = "block";
                document.getElementById("course2-details").style.display = "none";
            } else if (courseName === 'Course 2') {
                document.getElementById("course2-name-header").textContent = courseName;
                document.getElementById("course2-details").style.display = "block";
                document.getElementById("course1-details").style.display = "none";
            }
        }

        function showCourseList() {
            document.getElementById("course1-details").style.display = "none";
            document.getElementById("course2-details").style.display = "none";
        }
    </script>
</body>
</html>
