<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
   
    <title>Teacher Portal</title>
</head>
<body>
    <header>
        <h1>UC Merced</h1>
        <a href="{{url_for('logout')}}">Logout</a>
    </header>
    <h2>Hello, you are a teacher</h2>

    <div class="container">
        <h2>Your Courses</h2>
        <table>
            <tr>
                <th>Course Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Students Enrolled</th>
            </tr>
          
            <tr>
                <td><a href="course_details.html" class="course-link">Course A</a></td>
                <td>Teacher A</td>
                <td>Time A</td>
                <td>25</td>
            </tr>
            <tr>
                <td><a href="course_details.html" class="course-link">Course B</a></td>
                <td>Teacher A</td>
                <td>Time B</td>
                <td>20</td>
            </tr>
            
        </table>
    </div>
</body>
</html>
